<div class="page">
    
<app-operator [operator]="'skip'"></app-operator>

<pre ngNonBindable [class.active] = "active === 'skip2'" (click)="skip2()"><code class="language-typescript">interval(1000)
  .pipe(
    map((n) => n + 1),
    skip(2),
    takeWhile(n => n <= 4),
  )
  .subscribe(v => console.log(v));
</code></pre>

<app-operator [operator]="'skipLast'"></app-operator>

<pre ngNonBindable [class.active] = "active === 'skipLast1'" (click)="skipLast1()"><code class="language-typescript">from(['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'])
  .pipe(
    skipLast(2),
  )
  .subscribe(v => console.log(v));
</code></pre>


<app-operator [operator]="'skipUntil'"></app-operator>

<pre ngNonBindable [class.active] = "active === 'skipUntil1'" (click)="skipUntil1()"><code class="language-typescript">const obs1$ = interval(2500);
const interval$ = interval(1000);
interval$
  .pipe(
    map((n) => n + 1),
    skipUntil(obs1$),
    take(5),
  )
  .subscribe(v => console.log(v));
</code></pre>

<app-operator [operator]="'skipWhile'"></app-operator>

<pre ngNonBindable [class.active] = "active === 'skipWhile1'" (click)="skipWhile1()"><code class="language-typescript">interval(1000)  
  .pipe(
    map((n) => n + 1),
    skipWhile(val => val < 3),
    takeUntil(this.componentDestroyed$)
  )
  .subscribe(v => console.log(v))
</code></pre>

<div *ngIf="val">
  <p class="file-name">Result</p>
  <pre class="json">{{val | json}}</pre>
</div>

</div>