  <div class="operator">
    <div class="left">
      <h2>
        <span class="op">{{dataName}}() </span>
        <span class="type"> {{dataType}}</span>
      </h2>
    </div>
    <div class="right">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a
          mat-menu-item href="{{dataRxjsdevUrl}}"
          [disabled]="!dataRxjsdevUrl"
          target="_blank"
          [matTooltip]="dataRxjsdevUrl"
          matTooltipClass="resource-tooltip"
          matTooltipPosition="before">
          <span>RxJS</span>
        </a>
        <a
          mat-menu-item href="{{dataLearnrxUrl}}"
          [disabled]="!dataLearnrxUrl"
          target="_blank"
          [matTooltip]="dataLearnrxUrl"
          matTooltipClass="resource-tooltip"
          matTooltipPosition="before">
          <span>Learn Rxjs</span>
        </a>
        <a
          mat-menu-item href="{{dataMarblesUrl}}"
          [disabled]="!dataMarblesUrl"
          target="_blank"
          [matTooltip]="dataMarblesUrl"
          matTooltipClass="resource-tooltip"
          matTooltipPosition="before">
          <span>Rxjs Marbles</span>
        </a>
      </mat-menu>
    </div>
  </div>