<div class="page">

  <app-operator [operator]="'switchMap'"></app-operator>

<pre ngNonBindable (click)="switchMap1()" [class.active]="active === 'switchMap1'">
<code class="language-typescript">this.exampleForm.valueChanges
  .pipe(
    switchMap((formValue) =>
      this.http.put('https://jsonplaceholder.typicode.com/posts/1', &#123;
        ...
        body: JSON.stringify(&#123;
          id: 1,
          title: formValue,
        &#125;),
        ...
      &#125;)
    ),
    takeUntil(this.unsubscribe$)
  )
  .subscribe();</code>
</pre>

  <div class="row-output">
    <div class="col-left"></div>
    <div class="col-right">
      <form class="example-form" [formGroup]="exampleForm">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Input</mat-label>
          <input
            matInput
            formControlName="exampleInput"
            type="text"
            id="exampleInput"
            autocomplete="off"
            class="input-field"
          >
        </mat-form-field>
      </form>
    </div>
  </div>

</div>