<div class="page">

  <app-operator [operator]="'distinct'"></app-operator>

<pre ngNonBindable (click)="distinct1()" [class.active]="active === 'distinct1'">
<code class="language-typescript">of('none', 'none', 'dog', 'dog', 'cat', 'dog', 'dog', 'cat')
    .pipe(
      distinct(),
    )
    .subscribe(val => console.log(val));
</code>
</pre>

<pre ngNonBindable (click)="distinct2()" [class.active]="active === 'distinct2'">
<code class="language-typescript">from(this.bestSellingCars)
  .pipe(
    distinct()
  )
  .subscribe(val => console.log(val));
</code>
</pre>

<pre ngNonBindable (click)="distinct3()" [class.active]="active === 'distinct3'">
<code class="language-typescript">from(this.bestSellingCars)
  .pipe(
    distinct(car => car.make),
  )
  .subscribe(val => console.log(val));
</code>
</pre>

<pre ngNonBindable (click)="distinct4()" [class.active]="active === 'distinct4'">
<code class="language-typescript">from(this.bestSellingCars)
  .pipe(
    distinct(car => car.make),
    map(car => car.make)
  )
  .subscribe(val => console.log(val));
</code>
</pre>

<pre ngNonBindable (click)="distinct5()" [class.active]="active === 'distinct5'">
<code class="language-typescript">from(this.bestSellingCars)
  .pipe(
    map(car => car.make)
  )
  .subscribe(val => console.log(val));
</code>
</pre>

<pre ngNonBindable (click)="distinct6()" [class.active]="active === 'distinct6'">
<code class="language-typescript">from(this.bestSellingCars)
  .pipe(
    map(car => car.make),
    distinct()
  )
  .subscribe(val => console.log(val));
</code>
</pre>

</div>